<form action="" method="post">

  <label for="name">Имя:</label>
  <input type="text" name="name" id="name" value={name}>
  <br>

  <label for="link">Ссылка:</label>
  <input type="text" name="link" id="link" value={link}>
  <br>

  <label for="text">Текст:</label>
  <input type="text" name="text" id="text" value={text}>
  <br>

  <label for="imgL">Картинка:</label>
  <input type="text" name="imgL" id="imgL" value={imgL}>
  <br>

  <input type="submit" name="save" value="Сохранить изменения">
</form>