<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title_page}</title>
  <link rel="stylesheet" href={style_file}>
</head>

<body>

{header}


<main>
  <div class="gallery">
    <div class="image" >
      <a href="lager.php">
        <img src="images/1.jpg" alt="Изображение 1">
        <div class="caption">Lager</div>
      </a>
    </div>
    <div class="image">
      <a href="porter.php">
        <img src="images/2.png" alt="Изображение 2">
        <div class="caption">Porter</div>
      </a>
    </div>
    <div class="image">
      <a href="stout.php">
        <img src="images/3.png" alt="Изображение 3">
        <div class="caption">Stout</div>
      </a>
    </div>
  </div>
</main>

{footer}

</body>

</html>
